@font-face {
    font-family: 'TravelingTypewriter';
    src: url('TravelingTypewriter.woff2') format('woff2'),
        url('TravelingTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

