body {
	background-image: url('../img/tekstur2.jpg');
}

p, span, h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	font-family: 'TravelingTypewriter';
}