body {
	margin-top: 100px;
	margin-bottom: 300px;
}

h1, h2, h3, h4, h5, h6{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	font-family: 'TravelingTypewriter';
}

#header {
	filter: invert(100%);
	margin: auto; 
	display: block;
}

q {
	text-indent: 1em;
	font-style: italic;
}

img {
	margin: 25px 0 5px 0;
}
